html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  min-width: 1200px;
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  padding-left: 2%;
  padding-right: 2%;

  width: 96%;
  height: 60px;

  justify-content: space-between;
  background: #000000;
}

.logo {
  /* Logo Component */
  width: 40px;
  height: 60px;
  background: #000000;
  border-radius: 5px;
  border: none;
}

.logo .logo-image {
  /* Image inside Logo */
  width: 100%;
  height: 100%;
  left: 100%;
  top: 100%;
}

.Header .button-header-box {
  flex-direction: row;
  align-items: center;
  isolation: isolate;
  float: left;

  position: relative;
  width: 100%;
  height: 100%;

  background: #000000;
}

.Header .button-header-box .Button_header {
  display: inline-block;
  flex-direction: row;
  display: flex;
  align-items: center;
  isolation: isolate;
}

.Header .header-logo-box {
  flex-direction: row-reverse;
  align-items: right;
}
